/temp/
/source/packages/@dooboostore/core-node/package.json.back
/source/apps/dooboostore-develop-page/front-end/environments/environment.local.ts
/source/apps/dooboostore-develop-page/back-end/environments/environment.local.ts
/source/apps/dooboostore-develop-page/front-end/environments/environment.ts
/source/apps/dooboostore-develop-page/back-end/environments/environment.ts
/source/apps/dooboostore-develop-page/src/environments/environment.local.ts
/source/apps/dooboostore-develop-page/src/environments/environment.ts
/source/apps/dooboostore-page/dist-back-end/
/source/apps/dooboostore-page/dist-front-end/
/source/apps/dooboostore-page/dist-papago/
/.DS_Store
/.idea/
/.vscode/
/source/apps/dooboostore-page/dist-*/
/source/apps/dooboostore-page/dist-generator
/source/apps/dooboostore-page/dist-generator-page/
/source/apps/dooboostore-page/dist-generator/
/source/apps/dooboostore-page/dist-youtube-subtitles/
/source/apps/dooboostore-page/dist-youtube/
/source/apps/dooboostore-page/dist-*
