<div class="chart-wrap">
  <section class="chart-header">
  <!--  <h2 dr-if="@this@.currentItem">${@this@.currentItem.label}$</h2>-->
    <div class="chart-controls">
      <label for="toggle-events" id="toggle-events-label">
        <input type="checkbox" id="toggle-events" checked />
        이벤트
      </label>
      <label for="toggle-candles" id="toggle-candles-label">
        <input type="checkbox" id="toggle-candles" />
        캔들
      </label>
      <label for="toggle-show-points" id="toggle-show-points-label">
        <input type="checkbox" id="toggle-show-points" />
        포인트
      </label>
      <label for="toggle-show-average" id="toggle-show-average-label">
        <input type="checkbox" id="toggle-show-average" />
        평균선
      </label>
      <label for="toggle-show-ma5" id="toggle-show-ma5-label">
        <input type="checkbox" id="toggle-show-ma5" />
        MA5
      </label>
      <label for="toggle-show-ma10" id="toggle-show-ma10-label">
        <input type="checkbox" id="toggle-show-ma10" />
        MA10
      </label>
      <label for="toggle-show-ma20" id="toggle-show-ma20-label">
        <input type="checkbox" id="toggle-show-ma20" />
        MA20
      </label>
      <label for="toggle-show-ma50" id="toggle-show-ma50-label">
        <input type="checkbox" id="toggle-show-ma50" />
        MA50
      </label>
      <label for="toggle-show-ma100" id="toggle-show-ma100-label">
        <input type="checkbox" id="toggle-show-ma100" />
        MA100
      </label>
      <span class="radio-group">
        <label><input type="radio" name="normalize-mode" value="none" /> 정규화안함</label>
        <label><input type="radio" name="normalize-mode" value="rangeNormalize" /> 범위정규화</label>
        <label><input type="radio" name="normalize-mode" value="normalize" checked /> 전체정규화</label>
      </span>
  <!--    <label for="toggle-daily-group" id="toggle-daily-group-label">-->
  <!--      <input type="checkbox" id="toggle-daily-group" />-->
  <!--      일자그룹-->
  <!--    </label>-->
      <label for="toggle-hide-lines" id="toggle-hide-lines-label">
        <input type="checkbox" id="toggle-hide-lines" />
        실선숨김
      </label>
      <label for="toggle-show-grid" id="toggle-show-grid-label">
        <input type="checkbox" id="toggle-show-grid" />
        그리드
      </label>
      <span class="radio-group">
        <label><input type="radio" name="theme-mode" value="light" /> 라이트</label>
        <label><input type="radio" name="theme-mode" value="dark" /> 다크</label>
        <label><input type="radio" name="theme-mode" value="auto" checked /> 자동</label>
      </span>
      <span class="radio-group">
        <label><input type="radio" name="line-mode" value="line" /> 직선</label>
        <label><input type="radio" name="line-mode" value="line-smooth" checked /> 부드럽게</label>
        <label><input type="radio" name="line-mode" value="line-smooth-open" /> 시작가</label>
        <label><input type="radio" name="line-mode" value="line-smooth-high" /> 최고가</label>
        <label><input type="radio" name="line-mode" value="line-smooth-low" /> 최저가</label>
        <label><input type="radio" name="line-mode" value="line-smooth-middle" /> 중간가</label>
        <label><input type="radio" name="line-mode" value="step-to" /> 계단(to)</label>
        <label><input type="radio" name="line-mode" value="step-from" /> 계단(from)</label>
        <label><input type="radio" name="line-mode" value="step-center" /> 계단(center)</label>
      </span>

    </div>
  </section>
  <section class="chart-container">
    <canvas id="chart-canvas"></canvas>
  </section>
</div>